<div class="container py-5 mt-sm-4 mt-5">
    <div class="row g-4 align-items-stretch mt-3">
        <!-- Render product cards -->
        @for(item of items(); track $index) {
        <div class="col-sm-6 col-md-4 col-lg-3 col-12 g-4">
            <div class="card h-100 border-0 shadow-sm bg-light">
                <p
                    class="card-header fs-5 fw-bold text-primary bg-transparent border-0 p-3 bg-primary">
                    <span>Item-{{ $index + 1 }}</span>
                </p>
                <div class="card-body">
                    <h5 class="card-title fw-bold w-75">{{ item.title }}</h5>
                    <p class="card-text overflow-ellipsis text-muted">{{
                        item.description
                        }}</p>
                </div>
                <div class="card-footer bg-transparent border-0">
                    <p class="text-end fw-bold text-muted">{{ item.price |
                        currency }}</p>
                </div>
            </div>
        </div>
        }

        <!-- Invisible trigger div for IntersectionObserver -->
        <div #sentinel class="d-flex justify-content-center align-items-center">
            <!-- Loading indicator -->
            @if(loading()) {
            <div
                class="fw-bold border border-0 rounded px-4 py-2 shadow-sm rounded-pill text-primary">
                <div class="spinner-border text-primary spinner-border-sm me-2"
                    role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <span>Loading Products...</span>
            </div>
            }
        </div>
    </div>
</div>